---
title: The Z Index
layout: 'base.njk'
---


<div class="canvas-div">
<canvas>
  <script>let canvas = document.querySelector('canvas');
    canvas.width = window.innerWidth/1.3;
    canvas.height = window.innerWidth/1.3;

    let c = canvas.getContext('2d');
    c.fillRect(20, 20, 200, 200);
  </script>
</canvas>
 
</div>


<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

        {%- for post in collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
        {%- endfor -%}

    </ul>
  </div>
</section>
  

 
  
